@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    /* Cores */
    --color-primary: #0460D9; 
    --color-secondary: #0583F2;
    --color-accent: #0597F2; 
    --color-text-dark: #292929;
    --color-text-light: #f4f4f4;
    --color-background-light: #ffffff;
    --color-background-dark: #83A603;
    --color-border: #eee;

    /* Fontes */
    --font-heading: 'Oswald', Sans; 
    --font-body: 'Montserrat', Montserrat;
    /* Espaçamentos */
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2.5rem;
    --spacing-xl: 4rem;

    /* Tamanhos de Fonte */
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 3rem;

    /* Bordas e Sombras */
    --border-radius: 5px;
    --shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);
}